.footer--container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container h3{
    text-align: center;
}

.item {
    width: 25%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background: #1e291e;
    height: auto;
    margin-top: auto;
    display: flex;
}

.item {
    width: 25%;
    height: 100px;
    color: white;
}

.footer--container img {
    height: 30px;
}


@media (max-width: 768px) {
    .item {
        flex: 0 0 50%;
    }
}

@media (max-width: 480px) {
    .item {
        flex: 0 0 100%;
    }
}