
.footer--container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container h3{
    text-align: center;
}

.item {
    width: 25%;
    height: 100px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background: #1e291e;
    height: auto;
    padding: 2em;
    margin-top: auto;
    display: flex;
}

.item {
    width: 25%;
    height: 100px;
    color: var(--white)
}