.container--imagenencuesta {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; /* Los elementos se apilarán verticalmente */
    justify-content: center;
    align-items: center;
    width: 30%; /* Ajusta el ancho según necesites */
    text-align: center;
    padding: 1em;
}

.my-link-class--encuesta {
    text-decoration: none;
}

.image--encuesta {
    max-width: 80%; /* La imagen será responsiva y se ajustará según el contenedor */
}

.image--caption {
    width: 100%;
    color: black;
}
