body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans';
  font-style: normal;
  background-color: #ffffff;
}

#root{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}