/*Contenido parte superior*/

.oferta--imagen--texto{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

.oferta--imagen--texto img{
    width: 11em;
}

.oferta--imagen--texto p{
    font-size: 1.3rem;
    font-weight: bold;
}

/*Nav gobierno del estado*/

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #ffffff30;
}

.firstnav{
    height: 7vh;
    background-color:#1e291e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.secondnav{
    height: 7vh;
    background-color:#6C1D45;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
}

.oferta--imagen--texto{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
}

.oferta--imagen--texto img{
    width: 11em;
}

.oferta--imagen--texto p{
    font-size: 1.3rem;
    font-weight: bold;
}